.about-test
	position: relative
	padding: 96px 0 195px
	background: $color-white url(../../img/bg-about-test.png) no-repeat 50% 23%
	+background-size(auto)

	&:after
		content: ''
		width: 2px
		height: 118px
		background-color: $color-blue2
		position: absolute
		left: 58%
		bottom: 0

	+r(1024)
		+background-size(88%)
		&:after
			left: 65%
	+r(768)
		+background-size(80%)
		&:after
			left: 75%
	+r(580)
		max-width: 100vw
		padding: 38px 0 142px