.advantages-section
	padding: 70px 0 195px
	background: $color-white url(../../img/bg-advantages.png) no-repeat 50% 34%
	position: relative
	+background-size(auto)

	&:after
		content: ''
		width: 2px
		height: 118px
		background-color: $color-blue2
		position: absolute
		left: 41%
		bottom: 0

	+r(1024)
		&:after
			left: 30%
	+r(768)
		+background-size(70%)
	+r(580)
		max-width: 100vw
		padding: 40px 0 145px

.advantages-card
	width: 48%
	+r(1024)
		width: 70%
	+r(768)
		width: 80%
	+r(580)
		width: 100%

.advantages-item
	&__text
		width: calc(100% - 140px - 30px)
		+r(580)
			width: 100%

.advantages-item
	+flex(row wrap, space-between)
	margin-bottom: 80px

	&:last-child
		margin-bottom: 0

	&__img
		min-height: 100%
		max-width: 140px

	&__title
		margin-bottom: 30px
		text-transform: uppercase
		color: $color-blue2
		font-size: 1.4em
		line-height: 1.2
		+r(580)
			font-size: 1.2em
			margin-top: 4px
			margin-bottom: 10px

	&__desc
		font-size: 1.2em
		line-height: 1.4
		+r(580)
			font-size: 1.1em

	+r(580)
		margin-bottom: 20px
		display: block

.advantages
	&__item
		width: 100%
		position: relative
		overflow: hidden

		&:nth-child(odd)
			.advantages-card
				+flex(row wrap, flex-start)
				+r(580)
					display: block
					text-align: left

			.advantages-item
				&__img
					margin-right: 30px
					+r(580)
						margin-right: 0
						max-width: 100px

				&__title, &__desc
					text-align: left

		&:nth-child(even)
			+flex(row-reverse wrap, space-between)

			.advantages-card
				+flex(row-reverse wrap, flex-end)
				+r(580)
					display: block
					text-align: left

			.advantages-item
				&__img
					margin-left: 30px
					+r(580)
						margin-left: 0
						max-width: 100px

				&__title, &__desc
					text-align: right
					+r(580)
						text-align: left

			+r(580)
				display: block

	+r(580)
		margin-top: 26px