.feedbacks
	background: $color-grey4 url(../../img/bg-feedbacks.png) no-repeat 50% 16%
	+background-size(auto)
	+r(1024)
		background-position-y: 14%
		+background-size(80%)
	+r(768)
		+background-size(70%)
		background-position-y: 0
	+r(580)
		max-width: 100vw

.owl-carousel
	.owl-nav button.owl-prev:focus, .owl-nav button.owl-next:focus, button.owl-dot:focus
		outline: none

	.owl-item
		img
			width: 150px
			height: 150px
			border-radius: 50%
			margin: 0 auto

	.owl-nav
		button.owl-prev
			position: absolute
			left: 0
			top: 0
			bottom: 0
			height: 34px
			margin: auto

			img
				width: 34px
				min-height: 100%

				&:hover
					opacity: .6
					+tr(opacity .2s linear)

		button.owl-next
			position: absolute
			right: 0
			top: 0
			bottom: 0
			height: 34px
			margin: auto

			img
				width: 34px
				min-height: 100%
				transform: scale(-1, -1)

				&:hover
					opacity: .6
					+tr(opacity .2s linear)

.feedback-slide
	max-width: 600px
	margin: 116px auto 174px
	+r(1024)
		margin-top: 210px
	+r(768)
		margin-top: 40px
		margin-bottom: 122px

	&__img
		width: 150px
		height: 150px
		border-radius: 50%
		background-position: 33% 27%
		background-repeat: no-repeat
		margin: 0 auto

	&__name
		font-weight: 500
		font-size: 1.4em
		line-height: 1
		color: $color-grey2
		margin-top: 20px
		margin-bottom: 28px

	&__desc
		font-size: 1em
		color: $color-grey2
		line-height: 1.4