.footer-wrap
	position: relative
	text-align: center
	max-width: 780px
	margin: 0 auto

.footer
	width: 100%
	flex: 0 0 auto
	padding: 40px 0
	min-height: 330px
	background-color: $color-white
	+box-shadow(0, -20px, 16px, rgba(230, 235, 236, 1), 0)

	&__copy
		text-align: center
		margin-bottom: 0
		font-size: 16px
		font-weight: 400

	.logo
		display: inline-block
		margin-bottom: 55px
		margin-right: 38px

		&__link
			display: block

			&:hover
				text-decoration: none

		&__word
			width: 96px
			max-height: 100%
			display: block

		&__img
			width: 96px
			height: 62px
			margin-bottom: 22px

			svg
				width: 100%
				min-height: 100%

		+r(580)
			margin-right: 0
			margin-bottom: 50px

	&__contacts
		+flex(row wrap, space-between)
		font-weight: 400
		+r(580)
			+flex(column wrap, center)

	.contacts
		margin-bottom: 34px
		color: $color-grey

		.home-url
			color: $color-blue2
			text-transform: uppercase

		&__item
			text-decoration: underline
			font-size: 18px
			+tr(all .2s linear)

			&:hover, &:active
				text-decoration: none
				cursor: pointer

			+r(580)
				margin-bottom: 24px
				&:last-child
					margin-bottom: 0