.header-wrap
	position: relative
	padding: 14px 0 11px
	width: 100%
	+flex(row wrap, space-between, flex-end)
	overflow: hidden
	+r(580)
		max-width: 100vw
		display: block

.header
	z-index: 20
	position: relative
	background-color: $color-white

	&__contacts
		position: absolute
		display: inline-block
		right: 0
		top: 24px

		.email
			margin-left: 30px
			float: right
			+r(580)
				float: initial
				margin-left: 0

		.email
			text-transform: uppercase

		.phone
			+r(580)
				margin-bottom: 14px

		+r(580)
			display: block
			top: 14px

	.contacts
		&__item
			display: inline-block
			+r(580)
				display: block
				text-align: right
				font-size: .9em

	.logo
		&__link
			display: block

			&:hover
				text-decoration: none

		&__img
			width: 63px
			height: 40px
			margin-bottom: 12px

			svg
				width: 100%
				max-height: 100%

		&__word
			width: 64px
			max-height: 100%
			display: block

	+r(580)
		max-width: 100vw