.nav
	max-width: 550px
	+r(580)
		margin-top: 22px
		width: 100%

.navigation
	padding-left: 0
	margin-bottom: 0

	&__item
		display: inline-block
		z-index: 1
		list-style: none
		margin-left: 54px

		&:first-child
			margin-left: 0

		+r(768)
			margin-left: 30px
		+r(580)
			margin-left: 0

	&__link
		display: inline-block
		text-transform: uppercase
		color: $color-grey
		position: relative
		line-height: 1
		vertical-align: bottom

		&:hover, &.is-active
			text-decoration: none
			color: $color-grey

			&:before
				+scaleX(1)

		&::before
			position: absolute
			left: 0
			right: 0
			margin: auto
			width: 65%
			bottom: -11px
			height: 5px
			background: $color-blue
			content: ""
			+scaleX(0)
			+box-shadow(0, 0, 30px, rgba(0, 255, 234, 0.56), 1px)
			+tr(all .2s linear)

		+r(580)
			font-size: .9em

	+r(580)
		+flex(row wrap, space-between)