.order-section
	background-color: $color-grey4
	padding: 45px 0 30px
	+r(580)
		max-width: 100vw
		padding-bottom: 10px

.order-buttons
	+flex(row wrap, space-between, center)
	+r(767)
		+flex(column wrap, flex-start, center)

	&__item
		margin-right: 30px
		-webkit-flex-basis: 150px
		flex-basis: 150px
		-webkit-flex-grow: 1
		flex-grow: 1
		+r(1024)
			-webkit-flex-basis: 160px
			flex-basis: 160px
		+r(767)
			margin-right: 0
			margin-bottom: 34px
			-webkit-flex-basis: auto
			flex-basis: auto
			min-width: 288px
		+r(580)
			min-width: 214px
			padding: 0 14px

		&:nth-child(2)
			-webkit-flex-grow: 2.1
			flex-grow: 2.1
			-webkit-flex-basis: 330px
			flex-basis: 330px
			+r(1024)
				-webkit-flex-basis: 175px
				flex-basis: 175px
			+r(767)
				-webkit-flex-basis: auto
				flex-basis: auto
				min-width: 100%

		&:last-child
			margin-right: 0
			+r(767)
				margin-right: 0