.our-specialist
	position: relative
	padding-bottom: 170px
	background: $color-white url(../../img/bg-our-specialist.png) no-repeat 50% 90px
	+background-size(55%)

	&:before
		content: ''
		width: 100%
		height: 240px
		bottom: 0
		left: 0
		position: absolute
		background-color: $color-grey4

	&:after
		content: ''
		width: 2px
		height: 118px
		background-color: $color-blue2
		position: absolute
		left: 58%
		bottom: 0

	+r(1920)
		&:after
			left: 66%
	+r(1024)
		+background-size(76%)
		&:after
			left: 80%
	+r(580)
		max-width: 100vw
		padding-bottom: 145px
		background-position-y: 5%

.our-specialist-card
	z-index: 1
	margin-top: 266px
	position: relative
	+flex(row wrap, flex-end)

	&__image
		width: 255px
		height: 350px
		position: absolute
		top: 0
		left: 110px
		+r(1200)
			left: 80px
		+r(1024)
			width: 283px
			height: 388px
		+r(992)
			left: 12px
		+r(768)
			width: 210px
			height: 288px
		+r(766)
			left: 0
		+r(640)
			width: 162px
			height: 226px
		+r(580)
			margin: auto
			left: 0
			right: 0

	&__info
		min-height: 250px
		padding: 44px 94px
		max-width: 635px
		background-color: $color-white
		position: relative
		margin-top: 54px
		+box-shadow(6px, -4px, 18px, rgba(119, 119, 119, .2), 0)
		+r(1200)
			padding: 44px 72px
		+r(992)
			padding: 42px 50px
			max-width: 480px
		+r(768)
			max-width: 510px
			padding: 30px 60px
		+r(766)
			margin-top: 180px
			max-width: 450px
			padding: 30px 40px
		+r(580)
			padding: 30px 12px

	+r(768)
		margin-top: 220px
	+r(580)
		max-width: 100vw
		margin-top: 100px

.our-specialist-card-info
	&__desc
		color: $color-grey5

	&__position
		margin-bottom: 34px
		color: $color-blue3
		line-height: 1.4
		font-size: 1.3em
		font-weight: 400
		+r(580)
			margin-bottom: 10px

	&__name
		color: $color-grey2
		font-size: 1.8em
		font-weight: 400
		line-height: 1.2

		span
			text-transform: uppercase
			font-weight: 500

		+r(580)
			margin-bottom: 10px