.popular-questions
	position: relative
	padding: 40px 0 175px
	background: $color-white url(../../img/bg-about-test.png) no-repeat 50% 134px
	+background-size(auto)

	&:after
		content: ''
		width: 2px
		height: 118px
		background-color: $color-blue2
		position: absolute
		left: calc(50% - 1px)
		bottom: 0

	&__scene
		max-width: 760px

	+r(1024)
		+background-size(88%)
	+r(580)
		max-width: 100vw
		display: none


.popular-questions-card
	margin: 0 auto
	max-width: 400px
	min-height: 240px

	&__title
		margin-top: 35px
		margin-bottom: 20px
		text-transform: uppercase
		color: $color-blue2
		font-size: 1.4em
		line-height: 1.2

	&__desc
		font-size: 1.2em
		line-height: 1.4

		a
			text-decoration: underline
			color: $color-blue2
			+tr(all .2s linear)

			&:hover, &:active
				text-decoration: none

	&__item
		display: none

		&.active
			display: block

.popular-questions-scene
	margin: 0 auto

	&__item
		position: relative
		width: 130px
		padding-bottom: 55px
		min-height: 100%
		fill: $color-grey6
		cursor: pointer
		+tr(all .2s linear)

		&:after
			content: ''
			position: absolute
			bottom: -7px
			left: calc(65px - 10px)
			width: 20px
			z-index: 2
			height: 20px
			border-radius: 50%
			background: $color-blue3
			+tr(background .2s linear)

		&:first-child
			&:before
				content: ''
				position: absolute
				bottom: 0
				left: calc(65px + 5px)
				margin: auto
				width: 175px
				height: 4px
				z-index: 1
				background: $color-blue3
				background: linear-gradient(90deg, rgba(0, 110, 232, 1) 0%, rgba(0, 110, 232, 1) 100%)
				+tr(background .2s linear)

		&:nth-child(2)
			&:before
				content: ''
				position: absolute
				bottom: 0
				left: -100px
				margin: auto
				width: 300px
				height: 4px
				z-index: 1
				background: $color-blue3
				background: linear-gradient(90deg, rgba(0, 110, 232, 1) 0%, rgba(0, 110, 232, 1) 100%)
				+tr(background .2s linear)

		&:last-child
			&:before
				content: ''
				position: absolute
				bottom: 0
				right: calc(65px + 5px)
				margin: auto
				width: 175px
				z-index: 1
				height: 4px
				background: $color-blue3
				background: linear-gradient(90deg, rgba(0, 110, 232, 1) 0%, rgba(0, 110, 232, 1) 100%)
				+tr(background .2s linear)

.popular-questions-scene__item.active
	fill: $color-blue4

	&:after
		background: $color-blue4

	&:first-child
		&:before
			z-index: 2
			background: rgb(31, 110, 255)
			background: linear-gradient(90deg, rgba(31, 255, 255, 1) 0%, rgba(0, 110, 232, 1) 80%)

	&:nth-child(2)
		&:before
			z-index: 2
			background: rgb(0, 110, 232)
			background: linear-gradient(90deg, rgba(0, 110, 232, 1) 0%, rgba(31, 255, 255, 1) 50%, rgba(0, 110, 232, 1) 100%)

	&:last-child
		&:before
			z-index: 2
			background: rgb(0, 110, 232)
			background: linear-gradient(90deg, rgba(0, 110, 232, 1) 0%, rgba(31, 255, 255, 1) 80%)