.top-banner
	background: $color-white
	height: -webkit-calc(100vh - 90px)
	height: calc(100vh - 90px)
	min-height: 500px
	overflow: hidden
	position: relative
	background: none
	+r(580)
		max-width: 100vw
		background: initial
		+background-size(cover)
		background-position: 50% 50%
		background-repeat: no-repeat
	&__background
		z-index: -1
		overflow: hidden
		+r(580)
			display: none
	.top-banner-background
		&__img
			position: absolute
			top: 0
			bottom: 0
			right: 0
			left: 0
			+background-size(cover)
			background-position: 50% 50%
			background-repeat: no-repeat

	&__content
		position: relative
		height: 100%
		text-align: center
		z-index: 2

		.row
			height: 100%

	&__title
		font-size: 3.7em
		text-transform: uppercase
		font-weight: 900
		line-height: 1
		margin-bottom: 52px
		color: $color-grey2
		+r(580)
			font-size: 3em

	&__description
		margin-bottom: 82px
		font-size: 1.2em
		line-height: 1.2
		color: $color-grey2
		font-weight: 400

	&__action
		text-align: center
		margin-top: 120px

	&__more-details
		position: absolute
		bottom: 25px
		left: 0
		right: 0
		margin: 0 auto
		+r(580)
			display: none

	+r(580)
		height: -webkit-calc(100vh - 136px)
		height: calc(100vh - 136px)
		min-height: 300px

.more-details
	width: 195px
	text-align: center
	color: $color-white

	&:hover, &:focus
		text-decoration: none
		color: $color-white

		.more-details__icon
			-webkit-animation: jump .6s infinite alternate
			animation: jump .6s infinite alternate

	&__text
		text-transform: uppercase
		color: $color-white
		font-weight: 500
		font-size: 1.2em
		margin-bottom: 18px
		line-height: 1

	&__icon
		width: 10px
		height: 6px
		min-height: 100%
		background-image: url(../../img/down-arrow.svg)
		+background-size(cover)
		background-repeat: no-repeat
		background-position: 50% 50%
		margin: auto
		+tr(transform .2s linear)