@mixin flex($flow: row wrap, $justify: flex-start, $align_items: stretch, $align_content: stretch)
	display: -webkit-box
	display: -moz-box
	display: -ms-flexbox
	display: -webkit-flex
	display: flex

	-webkit-flex-flow: $flow
	flex-flow: $flow

	justify-content: $justify
	-webkit-justify-content: $justify

	-webkit-align-content: $align_content
	align-content: $align_content

	-webkit-align-items: $align_items
	align-items: $align_items