section.about-test#about
    .container.container-mobile-padding
        .row
            .col-xl-8.col-lg-9.col-md-11.mx-auto
                h2.h2 О тесте
                .textual
                    p Преимплантационная генетическая диагностика (ПГД) – это вид пренатальной диагностики, выполняемой на эмбрионах ранней стадии развития, полученных в результате экстракорпорального оплодотворения (ЭКО). В отличие от остальных видов пренатальной диагностики, выполняемых на ворсинах хориона или амниотической жидкости, ПГД выполняется на эмбрионах, еще не перенесенных в полость матки, т.е. до наступления беременности. Несмотря на ряд заблуждений, ПГД не является процедурой по «лечению» эмбрионов, в результате данной диагностики лишь устанавливается, имеет ли исследуемый эмбрион ту или иную патологию. Данная информация помогает супружеской паре и лечащему врачу определиться с выбором эмбриона, который будет перенесен в полость матки. Чем больше эмбрионов подвергаются исследованию, тем выше вероятность нахождения «здоровых» эмбрионов.
                    p Материалом для выполнения ПГД чаще всего служат клетки трофектодермы – клетки эмбриона 5-6 суток развития, из которых в дальнейшем формируются внезародышевые ткани (плацента, плодные оболочки). В отличие от биопсии эмбрионов более ранних стадий развития (биопсия полярных телец или бластомеров), при биопсии трофектодермы практически отсутствует риск остановки эмбрионов в развитии после проведения процедуры, а так же значительно повышается точность диагностики.
                    p.list-header ПГД можно разделить на несколько подгрупп:
                    ul.list
                        li.list-item Преимплантационный генетический скрининг (PGS).
                        li.list-item ПГД моногенных заболеваний.
                        li.list-item ПГД при структурных хромосомных перестройках (инверсии, транслокации).
                        li.list-item Определение пола эмбрионов по медицинским показаниям.
                        li.list-item ПГД HLA-гаплотипа эмбрионов.
                    p Специалисты нашего центра дадут Вам расширенные ответы на интересующие вопросы, определят необходимость проведения ПГД/ПГС, расскажут о преимуществах и недостатках каждого из используемых методов. Опытные генетики компании «Проген» дадут подробную консультацию по результатам проведенных исследований, что позволит сформировать дальнейшую репродуктивную стратегию.
                    h4 ПОКАЗАНИЯ ДЛЯ ПРОВЕДЕНИЯ ПРЕИМПЛАНТАЦИ ОННОГО ГЕНЕТИЧЕСКОГО CKPHHHHrA(PGS, CCS, ПГС)*
                    ul.list
                        li.list-item Наличие изменений в кариотипе одного из партнёров;
                        li.list-item Предыдущие беремености с хромосомной патологией;
                        li.list-item Привычное невынашивание беременности (две и более неразвивающиеся беременности);
                        li.list-item Две и более неудачные попытки ЭКО при переносе эмбрионов хорошего качества;
                        li.list-item ЭКО у пациенток с первичным бесплодием старше 37 лет.
                    h4.list-header КОГДА ВОЗМОЖНО ПРОВЕДЕНИЕ ПГС?
                    p На сегодняшний день наиболее оптимальным материалом для проведения ПГС являются клетки трофектодермы, которые получают путем биопсии эмбрионов (бластоцист) на 5-6 сутки их развития. Вмешательство на этой стадии является наименее травматичным, не отражается на их жизнеспособности, а возможность получить для диагностики несколько клеток (от 4 до 10) снижает вероятность ошибочной диагностики вследствие возможного мозаицизма.
                    h4.list-header ВОЗМОЖНО ЛИ ПРОВЕДЕНИЕ ПГС КРИОКОНСЕРВИРОВАННЫХ ЭМБРИОНОВ?
                    p Существующие технологии позволяют проводить ПГС в течение 24 часов с момента получения материала. Это помогает избежать повторной криоконсервации эмбрионов и увеличивает эффективность попытки ЭКО. Обсудите с Вашим лечащим врачом проведение ПГС в цикле переноса криоконсервированных эмбрионов.
                    h4.list-header ПОКАЗАНИЯ ДЛЯ ПРОВЕДЕНИЯ ПРЕИМПЛАНТАЦИОННОЙ ГЕНЕТИЧЕСКОЙ ДИАГНОСТИКИ (ПГД, PGD)*
                    ul
                        li.list-item Носительство женщиной Х-сцепленного заболевания;
                        li.list-item Носительство одним из партнеров аутосомно-доминатного заболевания;
                        li.list-item Носительство обоими партнерами одного и того же аутосомно-рецессивного заболевания.