section.advantages-section
    .container.container-mobile-padding
        .row
            .col-xl-12.text-center
                h2.h2 более 2000 людей выбрали нашу клинику
                .advantages
                    .advantages__item.advantages-item
                        .advantages-card
                            img(src="../../img/icon_about_1.svg" alt="adv-1" width="130px").advantages-item__img
                            .advantages-item__text
                                .advantages-item__title Сроки выполнения услуг
                                .advantages-item__desc Короткие сроки выполнения услуг позволят не волноваться за Ваш тест. И ожидать выполнение его раньше указанного срока.
                    .advantages__item.advantages-item
                        .advantages-card
                            img(src="../../img/icon_about_2.svg" alt="adv-2" width="80px").advantages-item__img
                            .advantages-item__text
                                .advantages-item__title квалифицированный персонал
                                .advantages-item__desc Компания ПРОГЕН — клиент ориентированная компания, которая заботиться о том, что бы предоставить нашим пациентам выгодные цены наряду с качественным сервисом.
                    .advantages__item.advantages-item
                        .advantages-card
                            img(src="../../img/icon_about_3.svg" alt="adv-1" width="130px").advantages-item__img
                            .advantages-item__text
                                .advantages-item__title приемлемые цены
                                .advantages-item__desc Компания ПРОГЕН — клиент ориентированная компания, которая заботиться о том, что бы предоставить нашим пациентам выгодные цены наряду с качественным сервисом.
                    .advantages__item.advantages-item
                        .advantages-card
                            img(src="../../img/icon_about_4.svg" alt="adv-1" width="95px").advantages-item__img
                            .advantages-item__text
                                .advantages-item__title Современное и высококлассное оборудование
                                .advantages-item__desc Мы оснащены большим количеством высококлассного оборудования. В настоящее время лаборатория постоянно модернизируется и обновляется в ногу со временем.



