section.feedbacks
    .container.container-mobile-padding
        .row
            .col-xl-10.text-center.mx-auto
                .owl-carousel.owl-theme.feedback-slider
                    each val in [1, 2, 3, 4]
                        .feedback-slider__item.feedback-slide
                            .feedback-slide__img(style="background-image:url(../../img/feedback.jpg)")
                            .feedback-slide__name Ира Иванова
                            .feedback-slide__desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
