section.order-section
    .container.container-mobile-padding
        .row
            .col-xl-12.text-center.order-buttons
                a(href="#").order-buttons__item.button.button_inline-no-padding.button_gray Регистрация
                button(data-toggle="modal" data-target="#exampleModal").order-buttons__item.button.button_inline-no-padding.button_blue.button_big.js-open-order-form Заказать тест
                a(href="#").order-buttons__item.button.button_inline-no-padding.button_gray Перейти в клинику