#exampleModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
    .modal-dialog(role="document")
        .modal-content
            form(action="end-point/order-test" method="post").js-form-order-test
                .modal-header
                    h5#exampleModalLabel.modal-title Заказать тест
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                .modal-body
                    .form-group
                        label(for="recipient-name").col-form-label Имя:
                        input(type="text" name="name")#recipient-name.form-control
                    .form-group
                        label(for="recipient-message").col-form-label Сообщение:
                        input(type="text" name="message")#recipient-message.form-control
                .modal-footer
                    button.button.button_pink(type="submit") Заказать