section.our-specialist
    .container.container-mobile-padding
        .row
            .col-xl-10.col-lg-12.our-specialist-card.clearfix
                img(src="../img/specialist.jpg" alt="specialist").our-specialist-card__image
                .our-specialist-card__info.our-specialist-card-info
                    p.our-specialist-card-info__name
                        span Иванов<br/>
                        | Михаил Алексеевич
                    .our-specialist-card-info__position
                        | Специальность – генетика, <br/>
                        | лабораторная генетика, <br/>
                        | эмбриология.
                    .our-specialist-card-info__desc.textual
                        p Образование – Высшее, ГБОУ ВПО Московская Медицинская Академия им. И.М. Сеченова, выпуск 2004 г.
                        p Врач по специальности «лечебное дело» Ординатура по специальности «лабораторная генетика», Медико-генетический научный центр РАМН, 2006 Аспирантура - Медико-генетический научный центр РАМН, 2009 год. Тема – «Частота распространённых анеуплоидий у эмбрионов преимплантационной и ранней гестационной стадий развития»
                        p С 2009 года – член европейского общества генетики человека (ESHG) и европейского общества репродукции человека и эмбриологии (ESHRE)
