section.popular-questions
    .container
        .row
            .col-xl-12.text-center
                h2.h2 Популярные вопросы
                .popular-questions__scene.popular-questions-scene.d-flex.justify-content-between.js-popular-questions-scene
                    .popular-questions-scene__item.active.js-popular-questions-scene-item
                        include ../../img/icon_question_1.svg
                    .popular-questions-scene__item.js-popular-questions-scene-item
                        include ../../img/icon_question_2.svg
                    .popular-questions-scene__item.js-popular-questions-scene-item
                        include ../../img/icon_question_3.svg
                .popular-questions__card.popular-questions-card.js-popular-questions-card
                    .popular-questions-card__item.active.js-popular-questions-card-item
                        p.popular-questions-card__title Как узнать свой статус носителя моногенных заболеваний?
                        p.popular-questions-card__desc Мы предлагаем Вам, который проверяет носительство до 274 генетических заболеваний. По результатам вы получите рекомендации по выбору подходящего Вам варианта скрининга на основании Вашего этнического происхождения и других факторов.
                    .popular-questions-card__item.js-popular-questions-card-item
                        p.popular-questions-card__title Как узнать свой статус?
                        p.popular-questions-card__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, commodi dolor eveniet illo impedit inventore odio officia repellat repudiandae tempora?
                    .popular-questions-card__item.js-popular-questions-card-item
                        p.popular-questions-card__title Lorem ipsum dolor sit amet.
                        p.popular-questions-card__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequatur debitis dolorum eaque hic id labore, omnis. Aut eos molestiae nihil perspiciatis quo, sed voluptate.