section.top-banner(style="background-image:url(../../img/bg-pro_landing.jpg)")
    .top-banner__background.top-banner-background.js-top-banner-background
        .top-banner-background__img.js-top-banner-background-img(style="background-image:url(../../img/bg-pro_landing.jpg)")
    .container.top-banner__content.top-banner-content
        .row
            .col-xl-8.col-md-11.mx-auto.d-flex.flex-column.justify-content-center.container-mobile-padding
                h2.top-banner__title.js-top-banner-content-item про_ПГД
                p.top-banner__description.js-top-banner-content-item Преимплантационная генетическая диагностика (ПГД) – диагностика генетических заболеваний у эмбриона человека до имплантации в матку (до момента наступления беременности).
                .top-slide__action.js-top-banner-content-item
                    a(href="#" class="button button_inline button_pink") Заказать тест
                a(href="#about").more-details.top-banner__more-details.js-flowing-scroll.js-top-banner-content-item
                    .more-details__text Узнать подробности
                    .more-details__icon