doctype html
html(lang="ru")
	head
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(charset="utf-8")
		//-base(href="/")

		// Запрет индексации (убрать по окончании разработки сайта)
		meta(name="robots" content="nofollow")

		block title 
		meta(name="description" content="Описание страницы в несколько слов несколько слов")

		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")

		//Template Basic Images Start
		meta(property="og:image" content="img/favicon/og-image.png")
		link(rel="icon", href="img/favicon/favicon.png")
		link(rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png")

		//Custom Browsers Color Start
		meta(name="theme-color", content="#353f42")

		//-Preloader styles
		//-link(rel="stylesheet", href="css/preloader.min.css")
		style(type='text/css').
			.loader{background: #000; position: fixed; height: 100%; width: 100%; z-index: 2000; mix-blend-mode: multiply;}
			.loader__inside {width: 140vw; height: 140vw; position: absolute; left: 50%; top: 50%; transform:  translate(-50%, -50%) scale(0.01); background: #fff; border-radius: 50%;}

	body
		//- Preloader
		.loader
			.loader__inside
		.wrapper
			.content
				block header
				block breadcrumbs
				block content
			block footer

		link(rel="stylesheet", href="css/main.min.css")
		script(src="js/scripts.min.js")