extends _template.pug
block title
	title Название

block header
	include include/_header-regular

block content
	main
		include sections/_top-banner
		include sections/_about-test
		include sections/_popular-questions
		include sections/_advantages
		include sections/_our-specialist
		include sections/_order
		include sections/_feedbacks
		include sections/_order-modal-form

block footer
	include include/_footer