button
	outline: none
	border: none
	&:active
		outline: none
		border: none
	&:focus
		outline: 0

.button
	font-size: 14px
	line-height: 32px
	height: 38px
	display: block
	background: $color-grey
	border: 3px solid $color-grey
	text-transform: uppercase
	text-decoration: none
	color: $color-white
	font-weight: 500
	width: 100%
	border-radius: 35px
	letter-spacing: 2px
	+tr(all .2s linear)
	&_inline
		display: inline-block
		padding: 0 101px
		width: auto
	+r(580)
		padding: 0 66px
	&_inline-no-padding
		display: inline-block
		width: auto
	&_pink
		background-color: $color-pink
		border: 3px solid $color-pink
		&:hover,&:focus
			text-decoration: none
			color: $color-white
			+box-shadow(0, 0, 30px, rgba(255, 51, 119, 0.56), 1px)
	&_gray
		background-color: transparent
		border: 3px solid $color-grey5
		color: $color-grey5
		&:hover,&:focus
			text-decoration: none
			color: $color-grey5
			+box-shadow(0, 0, 30px, rgba(138, 138, 138, 0.56), 1px)
	&_blue
		background-color: $color-blue2
		border: 3px solid $color-blue2
		color: $color-white
		&:hover,&:focus
			text-decoration: none
			color: $color-white
			+box-shadow(0, 0, 30px, rgba(59, 84, 236, 0.56), 1px)
	&_big
		height: 60px
		font-size: 1.4em
		line-height: 52px

.form-group
	margin-bottom: 20px

.col-form-label
	font-size: 1em
	color: $color-grey
	font-weight: 500

.form-control
	display: block
	width: 100%
	padding: .375rem .75rem
	font-size: 1em
	line-height: 1.5
	color: $color-grey5
	background-color: $color-white
	background-clip: padding-box
	border: 3px solid $color-grey5
	border-radius: 35px
	+tr(all .2s linear)
	&:hover,&:focus
		text-decoration: none
		color: $color-grey5
		+box-shadow(0, 0, 30px, rgba(138, 138, 138, 0.56), 1px)
