@import "vars"
@import "fonts"
@import "libs"
@import "./keyframes"
@import "./_mixins/box-shadow"
@import "./_mixins/transform"
@import "./_mixins/transition"
@import "./_mixins/background-size"
@import "./_mixins/calc"
@import "./_mixins/flex"
@import "./_mixins/media"

::placeholder
	color: #777

::selection
	background-color: $color-pink
	color: #fff

html
	height: 100%

body
	height: 100%
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	font-weight: 500
	color: $color-grey
	background-color: $color-grey4
	-webkit-font-smoothing: antialiased

	input, textarea
		border: #666 1px solid
		outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

ul
	padding-left: 20px

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

.no-padding
	padding: 0 !important
	margin: 0 !important

button:active
	outline: none
	border: none

.wrapper
	+flex(row wrap)
	height: 100%

.content
	flex: 1 0 auto

.h2
	font-size: 2.2em
	color: $color-grey2
	text-transform: uppercase
	margin-bottom: 59px
	line-height: 1.2
	font-weight: 600
	+r(580)
		margin-bottom: 24px
		font-size: 2em
.textual
	font-weight: 500
	color: $color-grey3
	h4
		text-transform: uppercase
		font-size: 1.2em
		line-height: 1.1
		font-weight: 400
		margin-bottom: 8px
		color: $color-grey2
		margin-top: 18px
		+r(580)
			margin-top: 10px
			margin-bottom: 4px
	p
		margin-bottom: 11px
	ol
		list-style: decimal
		position: relative
		left: -5px
		//+r(720)
		//	margin-left: 2em
		li
			padding-left: 5px
	ol, ul
		margin-bottom: 10px
		+r(580)
			margin-bottom: 5px
	.list-header
		margin-bottom: 11px
		+r(580)
			margin-bottom: 5px
.container-mobile-padding
	+r(580)
		padding: 0 30px
@import "form"
@import "modal"

@import "sections/nav"
@import "sections/header"
@import "sections/top-banner"
@import "sections/about-test"
@import "sections/popular-questions"
@import "sections/advantages"
@import "sections/our-specialist"
@import "sections/orders"
@import "sections/feedbacks"
@import "sections/footer"

//@import "common"
//@import "media"
// Always at the end