footer.footer
    .container.container-mobile-padding
        .footer-wrap
            .logo
                a.logo__link(href="/")
                    .logo__img
                        include ../../img/logo_X.svg
                    img.logo__word(src="./img/logo_word.svg" alt="logo_word")
            .contacts.footer__contacts
                a.contacts__item.phone(href="tel: +74996775222") +7 499 677 5222
                a.contacts__item.home-url(href="#") progen.su
                a.contacts__item.email(href="mailto: reception@progen.su") reception@progen.su
            p.footer__copy 117630, Москва, Старокалужское шоссе, дом 62