header.header
	.container.container-mobile-padding
		.header-wrap
			.logo
				a.logo__link(href="/")
					.logo__img
						include ../../img/logo_X.svg
					img.logo__word(src="./img/logo_word.svg" alt="logo_word")
			.contacts.header__contacts
				.contacts__item.phone +7 499 677 5222
				.contacts__item.email reception@progen.su
			include _nav