nav.nav
    ul.navigation
        li.navigation__item
            a(href="#").navigation__link.is-active О тесте
        li.navigation__item
            a(href="#").navigation__link Преимущества
        li.navigation__item
            a(href="#").navigation__link Врачи
        li.navigation__item
            a(href="#").navigation__link Отзывы